<h1>Edit Escaper Entry</h1>

<%= form_with model: @esc do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
