

<h1>Dettagli su <%= @escape.Stanza%></h1>

<ul id="dettagli">
    <li>Dove trovarla: <%= @escape.Luogo%></li>
    <li>Nome della stanza: <%= @escape.Stanza %></li>

</ul>
<%= link_to "Torna a tutte le stanze", escapes_path %>

